.menu-container {
	display: flex;
	margin-top: -32px;
	position: absolute;
	bottom: 2%;
}

.menu-item {
	padding: 0 30px 0 30px;
	font-family: 'Bebas Neue';
	color: #000000;
	cursor: pointer;
}

.menu-item:hover {
	color: #6de1ed;
	transition: all 0.25s;
}