.navigation-container {
	display: flex;
	justify-content: space-around;
	flex-direction: auto;
	align-items: center;
	width: 20%;
	position: fixed; /* Fixes the position relative to the viewport */
	top: 0; /* Aligns it at the top of the screen */
	right: 0; /* Aligns it to the right of the screen */
	z-index: 9999; /* Ensures it appears on top of everything else */
	padding: 10px 20px; /* Optional: Adjusts the padding inside the header */
	/* position:relative; */
	transform: translateY(-100%); /* Start off-screen */
	animation: slideDown 1s forwards; /* Apply animation */
}

.navigation-items {
	visibility: visible;
	display: flex;
	font-size: 16px;
	justify-content: space-around;
	width: 100%;
}

.nav-title {
	font-size: 20px;
	font-family: 'Bebas Neue';
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.nav-title:hover {
	color: #6de1ed;
	transition: all 0.25s;
}

.nav-title:active {
	color:#6e5080;
}

.navigation-logo {
	width: 8vw;
	cursor: pointer;
	/* margin-left: 12px; */
}

/* .mobile-logo {
	visibility: hidden;
} */

/* Define the animation */
@keyframes slideDown {
to {
	transform: translateY(0); /* Start off-screen */
}
}

@media (max-width: 768px) {
	.navigation-container {
		width: 100%;
		display: block;
		background-color: black;
		padding: 0;
	}

	.navigation-items {
		display: none;
	}

	/* .mobile-logo {
		width: 30vw;
		visibility: visible;
	} */

	.navigation-logo {
		width: 100%;
		cursor: auto;
	}
  }