.song-img {
	width: 100%;
	/* cursor: pointer; */
	border-radius: 2px;
}
  
.img-container {
	margin: 0 auto;
	width: 40%;
}

.video-thumb-container {
	margin: 0 auto;
	width: 40%;
	border: solid .2px;
    border-color: #ffffff5c;
    margin-bottom: 8px;
}
  
.song-container {
	padding: 30px 30px 0;
	opacity: 0;
	animation: fadeIn 2s forwards;
	width: 100%;
}
  
  .song-title {
	font-family: 'Bebas Neue';
	font-size: 36px;
}
  
  .song-subtitle {
	font-family: 'Bebas Neue';
	font-size: 30px;
	color: #479cff;
}
  
  .song-description {
	font-family: 'Bebas Neue';
	font-size: 12px;
	text-align: right;
}

.modal-subtitle {
	position: fixed;
	bottom: 0;
	font-family: 'Bebas Neue';
	font-size: 24px;
}

@media (max-width: 1023px) {
	.song-img {
	  cursor: auto;
	}
}

@media (max-width: 768px) {
	.img-container {
	  width: 90%;
	}

	.video-thumb-container {
		width: 90%;
	}

	.song-container {
		padding: 0;
		padding-top: 30px;
		width: 90%;
	}
  
	.song-subtitle {
	  font-size: 24px;
	}
}