.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position:relative;
  transform: translateY(-100%); /* Start off-screen */
  animation: slideDown 1s forwards; /* Apply animation */
}

.banner {
  width: 100%;
  border-radius: 2px;
}

.bottom-banner {
  width: 100%;
  border-radius: 2px;
}

.footer {
  position:relative;
  animation: slideUp 1s backwards;
}

/* Define the animation */
@keyframes slideDown {
  to {
    transform: translateY(0); /* Start off-screen */
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(100%); /* Off-screen at the bottom */
  }
  100% {
      transform: translateY(0); /* Final position */
  }
}

.site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  /* flex: 1; */
}

.footer-text {
  text-align: center; /* Center the text */
  font-family: 'Bebas Neue';
  font-size: 14px; /* Font size */
  color: #d7e3ee; /* Text color */
}

.footer {
  width: 100%;
  /* max-width: 1080px; */
  /* margin-top: 24px; */
  border-radius: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mailing-list {
  opacity: 0;
  animation: fadeIn 1s forwards; /* Change duration as needed */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
	to {
	  opacity: 1;
	}
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes fadeSize {
  to {
    transform: scale(1.2);
  }
}